.menu-button-orange{
    -fx-background-color: #f19c00bb;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.menu-button-blue{
    -fx-background-color: #00b5f1bb;
    -fx-font-style: italic;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}
.menu-button-red{
    -fx-background-color: #ff2e2e;
}
.background-main{
    -fx-background-image: url("../../../assets/BG.jpg");
    -fx-background-size: cover;
}
BorderPane{
    -fx-background-image: url("../../../assets/BG2.jpg");
    -fx-background-size: cover;
}

BoardView{
    -fx-background-image: url("../../../assets/BG3.jpg");
    -fx-background-size: cover;
    -fx-shape:"M0 13 C0 5 5 0 13 0 L86 0 C94 0 99 5 99 13 L99 86 C99 94 94 99 86 99 L13 99 C5 99 0 94 0 86Z";
    -fx-border-radius: 5;
    -fx-border-width: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 50, 0, 0, 0);
}